@model IEnumerable<Address>

@{
    ViewBag.Title = "Addresses";
}

<h2>Addresses</h2>

<p>
    <a asp-controller="Address" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Liggetid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boligsiden.BoligsidenHyperlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boliga.BoligaHyperlink)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liggetid)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Boligsiden.BoligsidenHyperlink)" target="_blank">@Html.DisplayFor(modelItem => item.Street)</a>
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Boliga.BoligaHyperlink)" target="_blank">@Html.DisplayFor(modelItem => item.Street)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddressId">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.AddressId" class="text-danger ml-1" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
        </tr>
                        }
                    </tbody>
                </table>
