@model IEnumerable<Address>

@{
    ViewBag.Title = "Addresses";
}

<h2>Boliger</h2>

<p>
    <a asp-controller="Address" asp-action="Create">Indsæt ny bolig</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Liggetid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boligsiden.BoligsidenHyperlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boliga.BoligaHyperlink)
            </th>
            <th>
                Filer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liggetid)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Boligsiden.BoligsidenHyperlink)" target="_blank">Link</a>
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Boliga.BoligaHyperlink)" target="_blank">Link</a>
            </td>
            <td>
                <a asp-controller="Address" asp-action="Upload" asp-route-id="@item.DocumentId">Kampagnemateriale</a>
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.AddressId">Edit</a>-->
                <a asp-action="Delete" asp-route-id="@item.AddressId" class="text-danger ml-1" onclick="return confirm('Er du sikker på at du vil slette boligen?')">Slet</a>
            </td>
        </tr>
                        }
                    </tbody>
                </table>
